<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <style>
        .card {
            border: black 1px solid;
            list-style: none;
            text-decoration: none;
            display: grid;
            grid-template:   150px/ auto 1fr 100px;
            grid-gap: 5px;
            margin-bottom: 10px;
        }

        .card_image {
            height: 150px
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            margin-top: auto;
        }
        body > header > div > div > ul{
            gap: 20px;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none mr-4">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <rect width="100%" height="100%" fill="#712cf9"></rect>
                </svg>
                <span class="fs-4">Название магазина</span>
            </a>

            <ul class="mx-5 nav col-12 col-lg-auto">
                <li class="menu_list__element"><a href="/">Все товары</a></li>
                {% for group in groups %}
                    <li class="menu_list__element"><a
                            href="/?group_id={{ group.get('id') }}">{{ group.get('group_name') }}</a></li>
                {% endfor %}
            </ul>


            <div class="text-end ml-4">
                <button type="button" class="btn btn-outline-light me-2" id="basket">Корзина</button>
                <button type="button" class="btn btn-outline-light me-2" id="logout">Выход</button>
            </div>
        </div>
    </div>
</header>
<h2>Корзина {{ username }}</h2>
<ol>
    {% for product in products %}
        <li class="card">
            <div>
                <image class="card_image" src="{{ product.get('url') }}"
                       alt="{{ product.get('product_name') }}"></image>
            </div>
            <div>
                <p><b>Продукт: </b>{{ product.get('product_name') }}</p>
                <p><b>Количество: </b>{{ product.get('quantity') }}</p>
                <p><b>Цена: </b>{{ product.get('total_price') }} рублей</p>

            </div>
            <button product_id="{{ product.get('id') }}">Удалить</button>
        </li>

    {% endfor %}
</ol>
<p>Полная стоимость заказа: {{ sum_total_price }} рублей </p>
<button onclick="order()">Оформить заказ</button>
<script>
    document.querySelectorAll('button').forEach(button => {
        button.addEventListener('click', deleteFromBasket)
    })

    function deleteFromBasket(event) {
        let product_id = event.target.getAttribute('product_id');
        $.ajax({
            url: `/api/basket/${product_id}`,
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify({
                product_id: product_id,
            }),
            success: function (response) {
                window.location.href = '/basket';
            },
            error: function (xhr, status, error) {
                console.error('Add to basket failed:', error);
            }
        });
    }

    function order() {
        $.ajax({
            url: `/api/order`,
            type: 'GET',
            success: function (response) {
                window.location.href = '/basket';
            },
            error: function (xhr, status, error) {
                console.error('Order failed:', error);
            }
        });
    }
</script>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top mx-5">
    <p class="col-md-4 mb-0 text-body-secondary">© 2024 Company, Inc</p>

    <a href="/"
       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
    </ul>
</footer>
</body>
</html>