<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
<header>
    <div class="shop__info">
        <svg class="shop__info_image" width="50px" height="50px" viewBox="0 0 16 16" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M3 1L0 4V5C0 5 2 6 4 6C6 6 8 5 8 5C8 5 10 6 12 6C14 6 16 5 16 5V4L13 1H3Z" fill="#000000"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1 15V7.5187C1.81671 7.76457 2.88168 8 4 8C5.3025 8 6.53263 7.68064 7.38246 7.39737C7.60924 7.32177 7.81664 7.24612 8 7.17526C8.18337 7.24612 8.39076 7.32177 8.61754 7.39737C9.46737 7.68064 10.6975 8 12 8C13.1183 8 14.1833 7.76457 15 7.5187V15H7V10H4V15H1ZM12 10H10V13H12V10Z"
                  fill="#000000"/>
        </svg>
        <h1 class="shop__info-name">Название магазина</h1>
    </div>
    <div>
        <button class="login" style="display: none">Войти</button>
        {#        <button class="basket">Корзина</button>#}
        <button class="logout">Выход</button>
    </div>
</header>
<section class="product_section">
    {#      id product name price quantity url group_name  #}
    <div class="left_side">
        <img class="product_image" src="{{ product.get('url') }}" alt="{{ product.get('product_name') }}">
        <table class="product_properties">
            {% for el in product.get('properties') %}
                <tr>
                    <td>{{ el.get('property') }}</td>
                    <td>{{ el.get('value') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="buy_info">
        <h2 class="product_name">{{ product.get('product_name') }}</h2>
        <p class="product_price"> Цена {{ product.get('price') }} рублей</p>
        <button onclick="addToBasket()">Добавить в корзину</button>
        <button onclick="decreaseQuantity()">-</button>
        <input type="number" value="1" min="1" max="{{ product.get('quantity') }}">
        <button onclick="increaseQuantity()">+</button>
        {% for el in product.get('description') %}
            <p class="item-description">{{ el }}</p>
        {% endfor %}


    </div>
</section>
<script>
    let min = 1
    let max = {{ product.get('quantity') }}

    function increaseQuantity() {
        let value = document.querySelector("body > section > div > input[type=number]").value
        if (value == max) return;
        document.querySelector("body > section > div > input[type=number]").value = parseInt(value) + 1
    }

    function decreaseQuantity() {
        let value = document.querySelector("body > section > div > input[type=number]").value
        if (value == min) return;
        document.querySelector("body > section > div > input[type=number]").value = parseInt(value) - 1
    }

    document.querySelector(".shop__info").addEventListener('click', () => {
        window.location.href = '/'
    })

    function addToBasket() {
        $.ajax({
            url: '/basket',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                product_id: {{ product.get('id') }},
                count: document.querySelector("body > section > div > input[type=number]").value
            }),
            success: function (response) {
                window.location.href = '/';
            },
            error: function (xhr, status, error) {
                console.error('Add to basket failed:', error);
            }
        });
    }

</script>
</body>

</html>